* {
    padding: 0;
    margin: 0;
}
.main {
    margin-top: 20px;
    margin-left: 20px;
}
.nav {
    width: 140px;
}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.pad {
    width: 30%;
}
.nav a {
    font-style: italic;
    text-decoration: none;
    color: #34ACA7;
}
.nav li {
    margin-bottom: 10px;
}
.lt {
    text-transform: uppercase;
    font-family: Verdana;
    padding-bottom: 5px;
    border-bottom: 1px dashed #E5E5E5;
}
.news {
    width: 140px;
}
.btn_joinConv {
    width: 140px;
    height: 30px;
    border: 1px solid #E5E5E5;
    margin-top: 10px;
    border-radius: 5px;
}